body {
  margin: 0;
  font-family: "Arial";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
    /* background-color: #F5F5EB; */
  }
  /* body::after {
    content: '';
		position: absolute;
		background-color: #648767;
		padding-bottom: 141.42136%;
		width: 100%;
		bottom: -1;
		left: 8;
		transform: rotate(61.5deg) ;
		transform-origin: right bottom;
    z-index: -1;
  } */
  
  code {
    font-family: "Arial";
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  }
  input {
  font-size: 16px;
  font-weight: 200;
  height: 23px;
  width: 200px;
  letter-spacing: 1px;
  margin: 3px;
  outline: 0;
  border: 1px solid black;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  }

/* nav */

  .username {
    position: absolute;
    right: 0;
    top: 4%;
    width: 140px;
    text-align: right;
    margin-right: 6px;
  }
  .username::after {
    content: "";
    position: absolute;
    left: -20%;
    bottom: -42px;
    width: 330px;
    height: 330px;
    background: #F9C784;
    z-index: -1;
    border-radius: 100%;
  }

  .navBar {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  a {
  width: fit-content;
  } 
  #myprofb {
    margin-bottom: 19px;
  }

 #loginb{
  top: -10px;
  margin-top: -9px;
  padding: -1px;
 }
  .logo{
    z-index: 3;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: Clarendon, Helvetica, Arial, sans-serif;
  }




  /* homepage */
  .home {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%; 
    margin-top: 8%;
    max-width: 940px;
  }
  .homeSwatches {
    padding: 3px;
  }
  .homeImage 
  {
    width: 115%;
    height: 115%;
    object-fit: cover;
  }
  .homeDescription{
   text-align: center;
    margin: auto;
   padding: 3px;
   padding-top: 7px;
   padding-bottom: 11px;;
  }
  .nextFloss{
    position: absolute;
    left: 101%;
    top: 11%;
    background: none;
    border: none;
    font-size: xx-large;
  }
  button.nextFloss::after{
    background-color: white;
  }

  .prevFloss{
    position: absolute;
    left: -5%;
    top: 11%;
    background: none;
    border: none;
    font-size: xx-large;
  }

  button.prevFloss::after{
    background-color: white;
  }

  .allThreads {
  text-align: center;
  }
  .allThreadsHeader {
    position: absolute;
    top: 76%;
    left: 40%;
    margin: auto;
    font-size: 60px;
    font-family: Clarendon, Helvetica, Arial, sans-serif;
  }
  .allThreadsHeader::before{
    content: "";
    position: absolute;
    left: 55%;
    bottom: 7px;
    width: 100%;
    height: 17px;
    transform: skew(-1deg) translateX(-50%);
    background: #DB504A;
    z-index: -1;
  }
  .allThreadsp {
    position: absolute;
    bottom: -39%;
    left: 35%; 
    font-size: 20px;
    font-style: normal;
    font-family: Clarendon, Helvetica, Arial, sans-serif;
  }
  .needleEmoji {
    font-size: 60px;
    z-index: -1;
    position: absolute;
    top: 90%;
    left: 66%;
  }

  .searchBar {
    padding: 0.25rem;
    margin-top: 1rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 4px solid #f5b0dd;
    transition: all 0.2s;
    width: 100%;
    text-align: left;
  }
  input#search {
    border: none;
    }

    .newProjectHeader {
    position: absolute;
    top: 76%;
    left: 35%;
    margin: auto;
    font-size: 50px;
    font-family: Clarendon, Helvetica, Arial, sans-serif
    }

    .newProjectHeader::before{
      content: "";
      position: absolute;
      left: 55%;
      bottom: 7px;
      width: 100%;
      height: 17px;
      transform: skew(-1deg) translateX(-50%);
      background: #657ED4;
      z-index: -1;
    }
    .newProjectp {
      position: absolute;
      bottom: -49%;
      left: 28%; 
      width: 50%;
      font-size: 20px;
      text-align: center;
    }
/* flosscontainer and card */
.flossContainer {
  margin-top: 9px;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.flossCard {
  display: grid;
  align-items: center;
  width: 200px;
  margin: 5px;
  border: 1px solid black;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px; */
}

.flossCard img, h4, p {
  justify-self: center;
  padding: 3px;
  margin: 1px;
}
.flossCard h4 {
  height: 34px;
}
.flossCard button {
  justify-self: center;
  padding: 3px;
  margin: 1px;
  margin-bottom: 9px;
  background-color: #f5b0dd54
}
.flossCard button::after {
  background-color: white;
}

/* new project page */
.swatchContainer {
  display: grid;
  grid-template-areas:
  "img"
  "color" 
  "thread" "thread" "thread" "thread" "thread" "thread";
}
/* .threadandButton {
  margin: auto;
} */
.newProjectForm {
  margin-left: 35.5%;
  padding: 3px;
 }
 .newProjectForm input {
  margin: 3px;
  padding: 1px;
 }
.newProjectImg {
  grid-area: "img";
  max-width: 400px;
  max-height: 400px;
  justify-self: center;
  padding: 5px;
}
.allSwatches {
  grid-area: "color";
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
}

.colorSwatch {
  display: flex;
  justify-content: space-evenly;
  }

.projectThreads {
  grid-area: "thread";
  display: grid;
  grid-template-columns: repeat(6, 185px);
  justify-content: center;
  margin: 7px;
}
.threadSwatch .tswatchbutton {
  font-size: 14px;
  background-color: #f5b0dd54;
  width: 130px;
  margin: auto;
  margin-top: 6px;
}
.threadSwatch .tswatchbutton::after{
  background-color: white;
}
.threadSwatch {
  display: grid;
  padding: 4px;
  margin: 3px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding-bottom: 9px;
}
.threadSwatch img {
  width: 150px;
  height: 150px;
  /* object-fit: cover; */
}
.threadSwatch h5 {
  height: 28px;
  text-align: center;
}

/* CSS */
button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: "";
  background-color: #f5b0dd;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
button {
    padding: 3px 5px 3px;
  }
}
button.btn{
  width: 300px;
  margin-left: 40%;
  margin-top: 1%;
  margin-bottom: 6%;
}

.showThreads {
  margin-left: 45%;
}
.threadSwatch img, h5{
  justify-self: center;
}

.threadSwatch h5 {
  margin: 5px;
}

/* profile page */
.myProf{
text-align: center;
}
.myProf h1 {
  font-size: 50px;
  position: absolute;
  top: 66%;
  left: 41%;
  font-weight: 600;
  font-family: Clarendon, Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
}
.myProf h1::before{
  content: "";
  background-color: #69995D;
  width: 90%;
  z-index: -1;
  position: absolute;
  transform: skew(0deg) translateX(-40%);
  height: 40%;
  top: 32px;
  left: 49%;
  
}
.myProfh3 {
  position: absolute;
  bottom: -67%;
  left: 25.2%; 
  font-weight: 500;
  width: 50%;
  font-size: 28px;
  text-align: center;
  font-family: Clarendon, Helvetica, Arial, sans-serif;

}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectImage {
  max-width: 400px;
  max-height: 400px;
}
.pflossSpan{ 
  /* z-index: 100; */
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.pflossImage {
  padding: 3px;
  max-width: 100px;
  /* position: absolute; */
}

/* .pflossName {
  z-index: 100;
  position: absolute;
  color:rgb(43, 21, 122)
} */
/* homepage */



/* slider */
.horizontal-slider {
  width: 170px;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #eed3e4fb;
  border: none;
  width: 25px;
  border-radius: 100%;
  border: black 1px solid;
  display: block;
  font-size: 13px;
  text-align: center;
  line-height: 20px;

}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  top: 7px;
  height: 7px;
  background: #f5b0dd;
}
/* .example-mark {
  top: 6px;
  z-index: 100;
  height: 7px;
  width: 7px;
  background: #f5b0dd;
  border-radius: 100%;
  border: black 1px solid;
} */
/* login/signup */

div.loginPage{
  position: absolute;
  left: 29%;
  top: 32%;
  padding: 65px;
  background-image: url("https://m.media-amazon.com/images/I/51vDqD4xjJL._AC_SL1500_.jpg");
  background-size: contain;
  z-index: -2;
/* 
  background-image: url("https://static1.dmc.com/cache/1/1/117mc_top_desktab.jpg");
  background-position: 45% 60%; */
}
.loginPage h5 {
  font-size: 28px;;
  margin: 12px;
}
.loginPage {
  display: grid;
  grid-template-columns: 200px 40px 200px;
  grid-template-rows: 300px auto 200px; 
  justify-content: center;
  
}

.loginForm {
align-self: end;
font-size: 22px;
text-align: center;
padding: 6px;
margin: 7px;
margin-bottom: 34px;
}
div.loginForm {
margin-left: auto;
margin-right: auto;
}
.loginForm input {
  margin: 3px;
  padding: 1px;
}

.loginForm button {
  margin: 3px;
  padding: 1px;
}
div.signUpForm {
  margin-left: auto;
  margin-right: auto;
}
.signUpForm {
  align-self: end;
  text-align: center;
  font-size: 22px;;
  padding: 6px;
  margin: 7px;
  margin-bottom: 2px;
}

.signUpForm input {
  margin: 3px;
  padding: 1px;
}

.signUpForm button {
  margin: 3px;
  padding: 1px;
}