body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flossContainer {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.flossCard {
  display: grid;
  align-items: center;
  width: 200px;
  margin: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px;
}

.flossCard img, h4, p, button {
  justify-self: center;
  padding: 3px;
  margin: 1px;
  border-radius: 8px;
}

img {
  border-radius: 8px;
}
/* new project page */
.swatchContainer {
  display: grid;
  grid-template-areas:
  "img"
  "color" 
  "thread" "thread" "thread" "thread" "thread" "thread";
}
.newProjectForm {
  margin-left: 39.5%;
  padding: 3px;
 }
 .newProjectForm input {
  margin: 3px;
  padding: 1px;
 }
.newProjectImg {
  grid-area: "img";
  max-width: 400px;
  max-height: 400px;
  justify-self: center;
  padding: 5px;
}
.allSwatches {
  grid-area: "color";
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
}

.colorSwatch {
  display: flex;
  justify-content: space-evenly;
  }

.projectThreads {
  grid-area: "thread";
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
}

.projectThreads button {
  justify-self: center;
}
.btn {
max-width: 200px;
justify-self: center;
padding: 3px;
margin: 4px;
}

.threadSwatch {
  display: grid;
}

.showThreads {
  margin-left: 47%;
}
.threadSwatch img, h5{
  justify-self: center;
}

/* profile page */
.myProf{
text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectImage {
  max-width: 400px;
  max-height: 400px;
}

.pflossImage {
  padding: 3px;
  max-width: 100px;
}