body {
  margin: 0;
  font-family: "Canela Web";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  /* background-color: #d3a5b263; */
  }
  
  code {
    font-family: "Canela Web";
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  }
/* nav */
  .username {
    position: absolute;
    margin-top: 5px;
    right: 0%;
  }
  .nav {
    float: right;
    background: none;
    border: none;
    font-size: medium;
    font-family: 'Canela Web';
  }
  .logo{
  position: fixed;
  top: -2.5%;
 
  }

  /* homepage */
  .home {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%; 
    margin-top: 10%;
    max-width: 940px;
  }
  .homeSwatches {
    padding: 3px;
  }
  .nextFloss{
    position: absolute;
    left: 101%;
    background: none;
    border: none;
    font-size: xx-large;
  }
  .prevFloss{
    position: absolute;
    left: -5%;
    background: none;
    border: none;
    font-size: xx-large;
  }

  .allThreads {
  text-align: center;
  }
/* flosscontainer and card */
.flossContainer {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.flossCard {
  display: grid;
  align-items: center;
  width: 200px;
  margin: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px;
}

.flossCard img, h4, p, button {
  justify-self: center;
  padding: 3px;
  margin: 1px;
  border-radius: 8px;
}

img {
  border-radius: 8px;
}
/* new project page */
.swatchContainer {
  display: grid;
  grid-template-areas:
  "img"
  "color" 
  "thread" "thread" "thread" "thread" "thread" "thread";
}
.newProjectForm {
  margin-left: 36.5%;
  padding: 3px;
 }
 .newProjectForm input {
  margin: 3px;
  padding: 1px;
 }
.newProjectImg {
  grid-area: "img";
  max-width: 400px;
  max-height: 400px;
  justify-self: center;
  padding: 5px;
}
.allSwatches {
  grid-area: "color";
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
}

.colorSwatch {
  display: flex;
  justify-content: space-evenly;
  }

.projectThreads {
  grid-area: "thread";
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
}

.projectThreads button {
  justify-self: center;
}
.btn {
max-width: 200px;
justify-self: center;
padding: 3px;
margin: 4px;
}

.threadSwatch {
  display: grid;
  padding: 3px;
}

.showThreads {
  margin-left: 47%;
}
.threadSwatch img, h5{
  justify-self: center;
}

/* profile page */
.myProf{
text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectImage {
  max-width: 400px;
  max-height: 400px;
}

.pflossImage {
  padding: 3px;
  max-width: 100px;
}
/* homepage */



/* slider */
.horizontal-slider {
  width: 100%;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 2px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  font-size: x-small;
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  top: 6px;
  height: 4px;
  background: rgb(43, 21, 122);
}

/* login/signup */

div.loginPage{
  margin-top: 8%;
}
.loginPage {
  display: grid;
  grid-template-columns: 200px 40px 200px;
  grid-template-rows: 175px auto 80px; 
  justify-content: center;
}

.loginForm {
grid-area: "c";
font-size: large;
text-align: center;
}
div.loginForm {
margin-left: auto;
margin-right: auto;
}
.loginForm input {
  margin: 3px;
  padding: 1px;
}

.loginForm button {
  margin: 3px;
  padding: 1px;
}
div.signUpForm {
  margin-left: auto;
  margin-right: auto;
}
.signUpForm {
  grid-area: "b";
  align-self: end;
  text-align: center;
  font-size: large;
}

.signUpForm input {
  margin: 3px;
  padding: 1px;
}

.signUpForm button {
  margin: 3px;
  padding: 1px;
}